choice APP_BOARD_TYPE
    prompt "Target board"
    default BOARD_WAVESHARE_ESP32S3_ETH

config BOARD_WAVESHARE_ESP32S3_ETH
    bool "Waveshare ESP32-S3-ETH"

config BOARD_GENERIC_ESP32C3
    bool "Generic ESP32-C3"

config BOARD_GENERIC_ESP32C6
    bool "Generic ESP32-C6"

config BOARD_GENERIC_ESP32
    bool "Generic ESP32"

config BOARD_GENERIC_ESP32_ETH
    bool "Generic ESP32 ETH"

endchoice
