CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
CONFIG_LORA_FREQUENCY_HZ=0
CONFIG_LORA_TX_POWER_DBM=14
CONFIG_LORA_RADIO_PROFILE_RTK_FAST=y
CONFIG_LORA_RTCM_PROFILE_RTK_MINIMAL=y
